.btn-footer {
	color: grey;

	text-decoration: none;
	border: 1px solid;
	border-radius: 43px;
	font-size: 13px;
	padding: 7px 30px;
	line-height: 47px;
}
.btn-footer:hover {
	color: white;
	text-decoration: none;
}

.heading {
	color: #FFFF00;
}